*.orig
*.o
*.d
*.swp
*.pyc
*.a
*.map
symbols.h
symbols.c
Makefile.local
wiselib.testing/config_testing.h
wiselib.stable/config.h
bin/
out/
build/
data/
*.so
*.pdf
doxygen_output/
data/
Wiselib.config
Wiselib.creator
Wiselib.creator.user
Wiselib.files
Wiselib.includes
.c9revisions/
*~
*.log
example_app
tags
.cproject
.project
.settings
dot/
apps/generic_apps/token_construction_test/24*
