*.orig
*.o
*.d
*.swp
*.pyc
Makefile.local
wiselib.testing/config_testing.h
wiselib.stable/config.h
bin/
out/
build/
*.so
*.pdf
doxygen_output/
Wiselib.config
Wiselib.creator
Wiselib.creator.user
Wiselib.files
Wiselib.includes
.c9revisions/
*~
*.log
example_app
tags
