# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Emacs
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
.elc
auto-save-list
tramp
.\#*

# Ignore tags created by etags and ctags
TAGS
!TAGS/
tags
!tags/

# Ignore .svn
.svn/

# Vim
.*.sw[a-z]
*.un~
Session.vim

# Kdev
.kdev_include_paths
