# Wiselib root path with wiselib.stable and wiselib.testing
WISELIB_PATH=../..

# path where the Qt >= 4.5 includes are
# defaults to /usr/include/qt4 if not defined
QT_INC_PATH=/home/user/libqt4.7/include

# path where the Qt >= 4.5 libraries are
# defaults to /usr/lib if not defined
QT_LIB_PATH=/home/user/libqt4.7/lib

