
// TODO: compare with ENV template and update!

// 00000000 00000001 /rdf
// 00000000 00000010 /temp/intrinsic
// 00000000 00000100 /temp/minimal
// 00000000 00001000 /temp/complete

// 00000000 00010000 /light/intrinsic
// 00000000 00100000 /light/minimal
// 00000000 01000000 /light/complete

// 00000000 00000010 /pir/intrinsic
// 00000000 00000100 /pir/minimal
// 00000000 00001000 /pir/complete

// pir: intr & complete, rdf
.doc 00001011

<$PIRSENSOR$> <http://www.w3.org/2000/01/rdf-schema#type> <http://purl.oclc.org/NET/ssnx/ssn#Sensor> .
<$PIRSENSOR$> <http://spitfire-project.eu/ontology/ns/obs> <http://spitfire-project.eu/property/Occupancy> .
<$PIRSENSOR$> <http://spitfire-project.eu/ontology/ns/uom> <http://spitfire-project.eu/uom/Boolean> .
// <$PIRSENSOR$> <http://spitfire-project.eu/ontology/ns/value> "false" .

// pir: complete, rdf
.doc 00001001

<http://spitfire-project.eu/property/Occupancy> <http://www.w3.org/2000/01/rdf-schema#type> <http://purl.oclc.org/NET/ssnx/ssn#Property> .
<http://spitfire-project.eu/property/Occupancy> <http://purl.oclc.org/NET/muo/muo#measuredIn> <http://spitfire-project.eu/uom/Boolean> .
<http://spitfire-project.eu/uom/Boolean> <http://www.w3.org/2000/01/rdf-schema#type> <http://purl.oclc.org/NET/muo/muo#UnitOfMeasurement> .
<http://spitfire-project.eu/uom/Boolean> <http://purl.oclc.org/NET/muo/muo#prefSymbol> "truths" .

// rdf
.doc 00000001

<$PLATFORM$> <http://purl.oclc.org/NET/ssnx/ssn#attachedSystem> <$PIRSENSOR$>
<$PLATFORM$> <http://www.loa-cnr.it/ontologies/DUL.owl#hasLocation> <http://www.geonames.org/255683/patra.html> .
<$PLATFORM$> <http://spitfire-project.eu/ontology/ns/ownedBy> <http://identi.ca/user/27521> .
<$PLATFORM$> <http://dublincore.org/2010/10/11/dcelements.rdf#publisher> <http://identi.ca/user/27521> .
<$PLATFORM$> <http://purl.oclc.org/NET/ssnx/ssn#featureOfInterest> <$FOI$> .
// <$ROOM$> <http://www.w3.org/1999/02/22-rdf-syntax-ns#type> <http://spitfire-project.eu/foi/Room> .

